
curriculum.css
div{
    display: inline-block;
    border: 1px black dashed;
    width: 100px;
    height: 100px;
}

#div1{
    margin-left: 18%;
    font-weight: bolder;
}

div.rojo,
.rojo{
    background-color: red;
    color: inherit;
    border-color: yellow;
    border-style: ridge;
}

.rojo:first{
    border-top: chartreuse;
}
.margen{
    padding:30px;
    font-size: 2em;
    text-align: center;
    width: 800px;
    height: 1050px;
    border: 5px solid #797979;
    background-color:#ffffff;
}
.cuadro1{
    width: 200PX;
    height:150PX;
    border-radius: 15%;
    background-color:#0EA7E0; 
}
.cuadro2{
    width: 200PX;
    height:920PX;
    margin-top:-100px; 
    background-color:#EBEBEB; 
}
img.foto{
    width: 150PX;
    height:150PX; 
    margin-top:-75px; 
    border-radius: 50%;
     
  
}
.datos{
    width: 600PX;
    height:1050PX;
    background-color:#ffffff; 
}
.azulito{
    margin-top:-20px; 
    width: 35px;
    height: 6px;
    background-color:#0EA7E0; 
    border: 0px;
    border-radius:10px;
}
div.tam-texto{
    font-size: 15px;
    width: 200px;
    height: 150px;
    text-align: justify; 
}
p{
    padding: 12px;
}

.idiomas{
    width: 200px;
    height: 30px;
    text-align: left;
}
.lista{
    font-size: 15px;
    width: 200px;
    height: 30px;
}
.ing,
    .cir{
        width: 10PX;
        height:10PX;  
        border-radius: 15%;
        background-color: #0EA7E0;
        margin-top: -57px;
        margin-left: 75px;
        border: none;
    }
.ing{
    margin-top: -27px;
}
.ing2,
    .cir-2{
        width: 10PX;
        height:10PX;  
        border-radius: 15%;
        background-color: #0EA7E0;
        margin-top: -57px;
        margin-left: 95px; 
        border: none;
        }
.ing2{
    margin-top: -27px;  
}   
.ing3,
.cir-3{
    width: 10PX;
    height:10PX;  
    border-radius: 15%;
    background-color: #0EA7E0;
    margin-top: -57px;
    margin-left: 115px;
    border: none;
    }
.ing3{
    margin-top: -28px;
} 
.ing4,   
.cir-4{
    width: 10PX;
    height:10PX;  
    border-radius: 15%;
    background-color: #0EA7E0;
    margin-top: -57px;
    margin-left: 133px;
    border: none;
    }
.ing4{
    margin-top: -28px;
     background-color: #929292;
} 
.ing5,
.cir-5{
    width: 10PX;
    height:10PX;  
    border-radius: 15%;
    background-color: #0EA7E0;
    margin-top: -57px;
    margin-left: 151px;
    border: none;
    }
.ing5{
    margin-top: -28px;
     background-color: #929292;
} 

.user{
    margin-top: 20px;
    width: 48px;
    height:48px;
    margin-left: 0px
}
.mani
    .citla,
        .jena{
            width: 150px;
            height: 20px;
            margin-top: 15px;
            margin-left: 120px
            text-align:left;
            font-size: 18px;
        }
    .citla{
        margin-left: -210px 
    }
.mani{
    margin-left: -310px 
}
.color{
    background-color: red;
}
.nom{
    width: 600PX;
    height:150PX;
    margin-top: -43px;
}
.divicion5,
    .divicion4,
        .divicion3,
            .divicion2,
                .divicion{
                    margin-top:-20px; 
                    width: 90px;
                    height: 8px;
                    background-color:#0EA7E0; 
                    border: 0px;
                    border-radius:15%;
                    margin-left: 78px
                }

            .divicion2{
            margin-left:180px; 
            margin-top: -9px;
            background-color:#65B3CD;
            }
        .divicion3{
        margin-left:280px; 
        margin-top: -8px;
        background-color:#BBDBEA;
        }
    .divicion4{
    margin-left:380px; 
    margin-top: -8px;
    background-color:#6ABCA0;
    }
.divicion5{
    margin-left:480px; 
    margin-top: -8px;
    background-color:#20252F;
    }
.ubi{
    margin-top: 20px;
    width: 48px;
    height:48px;
    margin-left: 0px
}