
.contenedorP{
	border: 0px solid #003B46;
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: center;
    background-color:#003B46


}
div.izquierda{
    border: 1px solid #000000;
	width: 30%;
    display: inline-block;
    background-color:#07575b;
    padding: 1em;
    margin: 0px;
}

div.derecha{   
     border: 1px solid #000000;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    background-color:#66A5AD;
    margin: 0px;
    padding: 1em; 
    margin-left: 5px;
}

/* Estilos que tendrán los botones que se creen en el DOM clase de nombre celda*/
.celda{
	background-color: #C4DFE6;
    height: 35px;
    width: 35px;
    border: 0px;
    margin-bottom: 0.3em;
    margin-left: 0.3em;

}

h3{
 color: aliceblue;
 text-align: center;  

}

.divBtnDerecha{
    border: 1px solid #000000;
    margin-bottom: 2%;
    padding: 0px;
    height: 5%;
    width: 50%;
    display: flex;
}
.buttonIzq{

	margin: 0;
	height: 100%;
	width: 100%;
	padding: 1px;


}


